# Weights & Biases
WANDB_API_KEY=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
WANDB_ENTITY=
WANDB_PROJECT=pprd-refactor
WANDB_MODE=online

# Runtime defaults
PPRD_DEVICE=auto
PPRD_PRECISION=32
